@font-face {
    font-family: "poppins Pro Regular";
    font-style: normal;
    font-weight: normal;
    src: local("poppins Pro Regular"), url(../../Poppins/Poppins-Regular.ttf) format("ttf");
}
@font-face {
    font-family: "poppins Pro Condensed Italic";
    font-style: normal;
    font-weight: normal;
    src: local("poppins Pro Condensed Italic"), url(../../Poppins/Poppins-Italic.ttf) format("ttf");
}

@font-face {
    font-family: "poppins Pro Light";
    font-style: normal;
    font-weight: normal;
    src: local("poppins Pro Light"), url(../../Poppins/Poppins-Light.ttf) format("ttf");
}

@font-face {
    font-family: "poppins Pro Semibold";
    font-style: normal;
    font-weight: normal;
    src: local("poppins Pro Semibold"), url(../../Poppins/Poppins-SemiBold.ttf) format("ttf");
}

@font-face {
    font-family: "poppins Pro Bold";
    font-style: normal;
    font-weight: normal;
    src: local("poppins Pro Bold"), url(../../Poppins/Poppins-Bold.ttf) format("ttf");
}
